// * FORECAST CARD

.card-container {
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.card-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.card-date {
  font-size: 2rem;
  font-weight: 300;
}

.card-temp {
  margin: auto;
  font-size: 1.8rem;
  font-weight: 500;
}

// * BIG CARD

.big-card {
  border-radius: 1rem;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--colorYellow);
  color: var(--colorWhite);
}

.bigcard-temp {
  font-size: 8.4rem;
  font-weight: 700;
  padding: 3rem;
}

.bigcard-city {
  font-size: 5.4rem;
  font-weight: 700;
  padding: 3rem 0;
}

.card-add-fav {
  width: 100%;
  text-align: end;
}

// * FAVORITE CARD

.fav-card {
  border-radius: 1rem;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--colorWhite);
  color: var(--colorBlack);
}


.fav-temp {
  font-size: 6rem;
  font-weight: 700;
  padding: 2rem;
}

.fav-city {
  font-size: 2rem;
  font-weight: 500;
  padding: 1rem 0;
}

.fav-text {
  width: calc(100% - 2rem);
  background: var(--colorYellow);
  font-size: 2rem;
  font-weight: 500;
  color: var(--colorWhite);
  padding: 1rem;
  margin-bottom: 2rem;
  text-align: center;
}

