.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.current {
  width: 100rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.icon-container {
  background: var(--colorWhite30);
  border-radius: 1rem;
}