.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.current {
  width: 100%;
  max-width: 100rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;

  @media (max-width: 685px) {
    flex-direction: column;
  }
}

.icon-container {
  background: var(--colorWhite30);
  border-radius: 1rem;
  margin-left: 2rem;

  @media (max-width: 685px) {
    margin-left: 0;
    margin-top: 2rem;
  }
}